@charset "UTF-8";

/*  Reserve_Check, Reserve_Update_Check, Reserve_Update_Query, 
Reserve_Delete_Check, Reserve_Delete_Query 공용*/

#reserve_check_section{
	margin: 50px 0 0 0;
	min-height: 600px;
}

#reserve_check_section > .check_table{
	margin: 0 auto 30px auto;
}

#reserve_check_section > .check_table > tbody > tr > td{
	border-top: 1px solid #ddd;	
	height: 60px;
}

#reserve_check_section a{
	padding: 18px 21px;
	margin-left: 5px;
	background-color: black;
	color: white;
	font-size: 16px;
}